@import "../packages/bootstrap-4.2.1/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
.typeStyle {
    font-family: Lato, sans-serif;
}

body {
    margin: 0;
}

header {
    height: 100px;
    border-bottom: 1px solid #ececec;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1140px) {
    .container {
        width: auto;
        margin: auto;
        padding: 0 15px;
    }
}

.headerInside {
    height: inherit;
    display: flex;
    align-items: center;
}

.logo {
    line-height: 50px;
    width: 95px;
    background: url(../image/logo.png) no-repeat;
    background-size: contain;
    padding-left: 73px;
    font-weight: 300;
    font-size: 27px;
    @extend .typeStyle;
}

.logo span {
    font-weight: 400;
    color: #f38191;
}

.searchWrap {
    width: 400px;
    display: flex;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    margin-left: 80px;
}

.searchBrowse {
    padding: 12px;
    border-right: 1px solid #e6e6e6;
}

.searchWrap input {
    border: none;
    padding: 0 4px;
    flex-grow: 1;
}

.searchWrap button {
    width: 36px;
    border: none;
    border-left: 1px solid #e6e6e6;
    background: white;
}

.searchWrap button i {
    color: #a4a4a4;
}

.headerCart {
    margin-left: auto;
    margin-right: 26px;
}

.accountBtn {
    background-color: #f16d7f;
    padding: 13px 19px;
    border: none;
}

.topNav {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
    box-sizing: border-box;
}

.topNav a {
    text-decoration: none;
    @extend .typeStyle;
    font-size: 14px;
    color: #222222;
    font-weight: 700;
}

.newArrivalsWrap {
    height: 150px;
    background: #f8f3f4;
}

.newArrivals {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

@media (max-width: 520px) {
    .newArrivals {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.newArrivals h1 {
    margin: 0;
    font-weight: 700;
    color: #f16d7f;
}

.newArrivals nav a {
    text-decoration: none;
    color: #636363;
}

.newArrivals nav a:hover {
    color: #f16d7f;
}

.newArrivals nav a:last-child {
    font-weight: 700;
    color: #f16d7f;
}

.col-md-3 {
    margin-top: 71px;
}

.btn-secondary {
    @extend .typeStyle;
    background-color: #ffffff;
    width: 243px;
    height: 37px;
    border-left: 5px solid #ef5b70;
    color: #ef5b70;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    
    &:hover {
        background-color: #ef5b70; 
    }
    
    &:active {
        background-color: #ef5b70;
    }
}

.col-md-9 {
    margin-top: 71px;
}

.optionsProduct {
    display: flex;
    justify-content: space-between;
}

.trending {
    @extend .typeStyle;
    width: 177px;
    height: 74px;
    h2 {
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }
    
    p, span {
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }
}

.trendIcon {
    width: 150px;
    height: 39px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.size {
    @extend .typeStyle;
    width: 215px;
    height: 73px;
    
    h2 {
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }
}

.sizeIcon {
    width: 130px;
    height: 50px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price {
    @extend .typeStyle;
    width: 263px;
    height: 73px;
    
    h2 {
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }
    
    .priceIcon {
        display: flex;
        justify-content: space-between;
        width: 262px;
        
        p {
            color: #6f6e6e;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
        }
    }
}

input[type="range"] {
    -webkit-appearance: none;
    border-radius:2px;
    width:262px;
    height:6px;
    outline : none;
    border:1px solid #ef5b70;
    background-color: #ef5b70;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:18px;
    height:18px;
    background: black;
    border-radius:18px;
    cursor:pointer;
    transition:.1s;
}

.sortBy {
    @extend .typeStyle;
    height: 50px;
    display: flex;
    background-color: #f3f3f3;
    margin-top: 70px;
    padding-left: 20px;
    padding-top: 12px; 
    
    h2 {
        width: 65px;
        height: 28px;
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        background-color: #ffffff;
        border: 1px solid grey;
        
    }
    
    .sort {
        width: 65px;
        height: 28px;
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        margin-right: 20px;

    }
} 

.products {
    @extend .typeStyle;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
    h2 {
        width: 157px;
        height: 11px;
        color: #6f6e6e;
        font-size: 13px;
        font-weight: 400;
    }
    
    p {
        width: 50px;
        height: 15px;
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
    }
}

.nextView {
    @extend .typeStyle;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
    button {
        width: 150px;
        height: 44px;
        border-radius: 3px;
        border: 1px solid #ef5b70;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        color: #ef5b70;
    }
}

.nextPage {
    display: flex;
    justify-content: space-between;
    width: 261px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    
    a {
        text-decoration: none;
        color: #c4c4c4;
        padding-top: 8px;
    }
    
    a:hover {
        color: #ef5b70;
    }
}

.nextPage::after {
    content: ">";
    padding-top: 8px;
    color: #c4c4c4;
}

.nextPage::before {
    content: "<";
    padding-top: 8px;
    color: #c4c4c4;
}

.moreInfotmation {
    @extend .typeStyle;
    margin: 0 auto;
    height: 341px;
    background-color: #222224;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
    .more {
        margin-top: 130px;
        text-align: center;
    }
    
    .more h2 {
        
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
    }
    
    .more p {
        width: 308px;
        height: 37px;
        color: #fbfbfb;
        font-size: 14px;
        font-weight: 300;
        line-height: 23.95px;
        color: white;
        text-align: center;
    }
    
    .more img {
        padding-bottom: 15px;
    }
}

.footCheck { 
    display: flex;
    flex-direction: row;
    width: 1600px;
    margin: 0 auto;
    padding-top: 100px;
}

@media (max-width: 520px) {
    .footCheck {
        flex-direction: column;
    }
}

.footCheckLeft {
    background: url(../image/footLeft.png) no-repeat;
    height: 400px;
    width: 799px;    
}

.footCheckLeft blockquote {
    width: 497px;
    height: 150px;
    color: #222224;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-top: 111px;
    margin-left: 200px; 
}

.footCheckLeft img {
    float: left;
    padding-right: 20px;
}

.footCheckLeft h2 {
    color: #f16d7f;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: 100px;
}

.footCheckLeft p {
    color: #222224;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 10px;
    margin-left: 100px;
}

.buttonFoot {
    margin-left: 300px;
}

.footCheckLeft button {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.footCheckLeft button:hover {
    background-color: #f16d7f;
}

.footLine {
    width: 1px; 
}

.footCheckRight {
    background: url(../image/footRight.png) no-repeat;
    height: 400px;
    width: 799px;  
}

.infoFootRight {
    width: 500px;
    height: 122px;
    margin-left: 92px;
    margin-top: 105px;
}

.footCheckRight h2 {
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 40px;
    color: #222224;
    font-family: Lato, sans-serif;
    font-weight: 400;
    text-align: center;
}

.footCheckRight p {
    letter-spacing: 0.35px;
    line-height: 24px;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #222224;
    text-align: center;
}

.footCheckRight input {
    width: 334px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    opacity: 0.67;
    color: #222224;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    float: left;
}

.footCheckRight button {
    width: 104px;
    height: 50px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
}

.footer {
    margin: 0 auto;
}

.footerLogo {
    width: 428px;
    height: 260px;
    margin-top: 129px;
    margin-left: 230px;
    float: left;
    
}

.footerLogo p {
    width: 427px;
    height: 180px;
    color: #898989;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.category {
    width: 150px;
    height: 238px;
    float: left;
    margin-top: 123px;
    margin-left: 150px;

    
}

.category h2 {
    width: 200px;
    height: 20px;
    color: #f16d7f;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.category a {
    width: 101px;
    height: 178px;
    color: #898989;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 59px;
    letter-spacing: 0.4px;
    line-height: 42px;
    text-decoration: none;
}

.copyrightsRight {
    background: url(../image/copyrights.png) no-repeat;
    width: 1617px;
    height: 79px;
    float: left;
    margin-left: 150px;
    margin-top: 50px;
}

@media (max-width: 520px) {
    .copyrightsRight {
        float: right;
    }
}

.copyrightsRight i {
    width: 32px;
    height: 20px;
    background-color: #ffffff;
    float: right;
    margin-top: 32px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    padding-top: 7px;
}

    




